###> symfony/framework-bundle ###
*.swp
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/media/
/var/
/vendor/
###< symfony/framework-bundle ###

###> Oter's ###
/.idea/*
nbproject
/nbproject/private/
###> Oter's ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> local config ###
config/packages/nelmio_cors.yaml.local
config/packages/nelmio_cors.yaml.repo
###< local config ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
